* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f8f8f8;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.channel-item:hover {
  background-color: #deeff5 !important;
}
